<div class="d-flex justify-content-between align-items-center bg-whatsapp-light px-3 h-100">
    <figure class="m-0 me-3">
        <img src="../../../../../assets/images/jordan poole.jpg" class="rounded-circle header-img" alt="profile">
    </figure>
    <div class="d-flex flex-column justify-content-between w-100 py-3 border-bottom">
        <div class="d-flex align-items-center justify-content-between">
            <h5 class="fw-light"> {{getUser?.firstName + ' ' +  getUser?.lastName}} </h5>
        </div>
    </div>
</div>
