// Global styles goes here
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

html,body{
    height: 100%;
    overflow: hidden;
}

.bg-whatsapp-light{
    background-color: $bg-whatsapp-light;
}

.fs-7{
    font-size: 0.8rem;
}

.bx{
    color: #54656d;
}