// All the SCSS Variables goes here

// font 
$font-family                                                    : 'Roboto', sans-serif;

// sidebar 
$sidebar-width                                                  : 500px;

// header 
$header-width                                                   : 60px;

// heading 
$headings-margin-bottom                                         : 0px;

// form 
$input-border-width                                             : 0px;
$input-border-radius                                            : 10px;